#register-main{
    width: 1016px;
    margin: 40px auto;
    overflow: hidden;
}
#register-main h2{
    color: #4db234;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.register-right{
    width: 350px;
}
.changeCode img{
    height: 34px;
}
.form-submit{
    padding: 20px 0;
}
.form-submit .col-sm-7 a{
    display: inline-block;
    padding: 12px 0 0 0;
}

.flag i {
    display: none;
}