#detail-main{
    width: 1016px;
    margin: 40px auto;
}

#detail-main h2{
    color: #4db234;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#register-main{
    width: 412px;
    margin: 40px auto;
    overflow: hidden;
}
.register-right{
    width: 350px;
}
.changeCode img{
    height: 34px;
}
.form-submit{
    padding: 20px 0;
}
.form-submit .col-sm-7 a{
    display: inline-block;
    padding: 12px 0 0 0;
}

.form-group{
    position: relative;
}
.flag{
    position: absolute;
    right: -10px;
    top: 5px;
}

.flag i {
    display: none;
}

.error {
    color: red;
}

.passed{
    color: green;
}